<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 彩色日志 -->
  <!-- 彩色日志依赖的渲染类 -->
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
  <conversionRule conversionWord="wEx"
                  converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
  <!-- 彩色日志格式 -->
  <property name="CONSOLE_LOG_PATTERN"
            value="${CONSOLE_LOG_PATTERN:-%clr(%d{YYYY-MM-DD HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(%caller{1}) %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
  <!-- Console 输出设置 -->
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <logger name="com.cn.shenzhen" level="DEBUG"/>
  <root level="INFO">
    <appender-ref ref="Console"/>`
  </root>
</configuration>


<!--日志输出的配置思路:
通过设置<logger name="具体包名" level="日志级别"/>或者<root level="日志级别">***</root>来设置
代码中某一块的日志级别，只有到达这个级别才能正常输出日志，这叫控制日志输入。
通过设置多个appender来接收什么样的日志输出。通过设置<filter>中的<level>来接收具体某一类型的日志，或者某一级别以上的日志，
如果没有设置filter，则表示接收所有的日志。参考网址:https://www.cnblogs.com/drizzlewithwind/p/6045435.html.
这叫控制日志接收。-->


<!--springboot 在linux后台运行
  参考网址:https://blog.csdn.net/yuhui123999/article/details/80593750

  首先需要进到自己springboot项目的根目录，然后执行如下linux命令
  nohup java -jar 自己的springboot项目.jar >日志文件名.log 2>&1 &

  命令详解：
  nohup：不挂断地运行命令，退出帐户之后继续运行相应的进程。
  >日志文件名.log：是nohup把command的输出重定向到当前目录的指定的“日志文件名.log”文件中，即输出内容不打印到屏幕上，而是输出到”日志文件名.log”文件中。不指定文件名会在当前目录创建nohup.out，如果当前目录的 nohup.out 文件不可写，输出重定向到 $HOME/nohup.out 文件中。如果没有文件能创建或打开以用于追加，那么 Command 参数指定的命令不可调用。
  2>&1：2就是标准错误，1是标准输出，该命令相当于把标准错误重定向到标准输出么。这里&相当于标准错误等效于标准输出，即把标准错误和标准输出同时输出到指定的“日志文件名.log”文件中。
  java -jar 自己的springboot项目.jar：执行springboot的项目，如果单单只执行该命令，linux只会短暂的运行该项目，当退出控制台后会自动关闭该项目。
  最后的&：让改作业在后台运行。
  -->
